################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/BluffinMuffin.Poker.Logic.Test/bin
/C#/BluffinMuffin.Poker.Logic.Test/obj
/C#/BluffinMuffin.Poker.DataTypes/bin
/C#/BluffinMuffin.Poker.DataTypes/obj
/C#/BluffinMuffin.Poker.HandEval/bin
/C#/BluffinMuffin.Poker.HandEval/obj
/C#/BluffinMuffin.Poker.Logic/bin
/C#/BluffinMuffin.Poker.Logic/obj
/C#/BluffinMuffin.Poker.Persistance/bin
/C#/BluffinMuffin.Poker.Persistance/obj
/C#/BluffinMuffin.Poker.Windows.Forms/bin
/C#/BluffinMuffin.Poker.Windows.Forms/obj
/C#/BluffinMuffin.Protocol.Commands.Test/bin
/C#/BluffinMuffin.Protocol.Commands.Test/obj
/C#/BluffinMuffin.Protocol.Server.Test/bin
/C#/BluffinMuffin.Protocol.Server.Test/obj
/C#/BluffinMuffin.Protocols.Test.DataTypes/bin
/C#/BluffinMuffin.Protocols.Test.DataTypes/obj
/C#/BluffinMuffin.Protocol.Client/bin
/C#/BluffinMuffin.Protocol.Client/obj
/C#/BluffinMuffin.Protocol.Commands/bin
/C#/BluffinMuffin.Protocol.Commands/obj
/C#/BluffinMuffin.Protocol.Server/bin
/C#/BluffinMuffin.Protocol.Server/obj
/C#/BluffinMuffin.Client/bin
/C#/BluffinMuffin.Client/obj
/C#/BluffinMuffin.Server/bin
/C#/BluffinMuffin.Server/obj
